
  <br/>
<div class="container">
  <div class="card border-primary mb-3" style="max-width: 40rem;">
    <div class="card-header bg-black">Déclarer un probleme</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Special title treatment</h5>
      <div class="card-text">
          <form class="form-horizontal"
          novalidate
          (ngSubmit)="save()"
          [formGroup]="problemeForm">
              <div class="form-group">
                <label for="exampleInputPrenom1">Prénom</label>
                <input class="prenom" class="form-control" id="exampleInputPrenom1" 
                  aria-describedby="PrenomHelp" 
                  placeholder="Votre prénom ici (obligatoire)" 
                  formControlName="prenom"
                  [ngClass]="{'is-invalid': (problemeForm.get('prenom').touched ||
                  problemeForm.get('prenom').dirty) &&
                  !problemeForm.get('prenom').errors.plage  ,
                  'is-valid': (problemeForm.get('prenom').touched ||
                  problemeForm.get('prenom').dirty) &&
                  problemeForm.get('prenom').errors.plage }"
                  />

                <small id="prenomHelp" class="form-text text-muted"></small>
                <span class="form-text" *ngIf="(problemeForm.get('prenom').touched ||
                problemeForm.get('prenom').dirty) &&
                problemeForm.get('prenom').errors">
                  <span *ngIf="problemeForm.get('prenom').errors.sansEspaces">
                      <small class="text-muted">
                        Veuillez entrer plus de caracteres
                      </small>
                  </span>
                  <span *ngIf="problemeForm.get('prenom').errors.plage">
                      <small class="text-muted">
                        Merci de saisir votre prénom. Veuillez entrer plus de characteres
                      </small>
                  </span>
                </span>
              </div>
            </form>    
          </div>
        </div>
  </div>
</div>
